<div class="card mb-3 shadow">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>

        @if (Done)
        {
            <div class="text-success">
                <span class="bi bi-check"></span> Completed
            </div>
        }

        @if (!string.IsNullOrEmpty(Description))
        {
            <p class="card-text">@Description</p>
        }

        <ul class="list-unstyled">
            @if (DueDate.HasValue)
            {
                <li><strong>Due Date:</strong> @DueDate.Value.ToShortDateString()</li>
            }

            @if (Priority != Domain.Models.Enums.Priority.None)
            {
                <li><strong>Priority:</strong> @Priority.ToString()</li>
            }
        </ul>

        @if (!Done)
        {
            <button class="btn btn-success mr-6" @onclick="CompleteTask"><i class="bi bi-bookmark-check mx-2"></i> Complete</button>
        }
        <button class="btn btn-danger mr-6" @onclick="DeleteTask"><i class="bi bi-file-earmark-x mx-2"></i> Delete</button>
        <button class="btn btn-primary mr-6" @onclick="EditTask"><i class="bi bi-pencil mx-2"></i> Edit</button>


    </div>
</div>


@code {
    [Parameter] public int Id { get; set; }

    [Parameter] public string Title { get; set; } = string.Empty;

    [Parameter] public string? Description { get; set; }

    [Parameter] public bool Done { get; set; }

    [Parameter] public DateTime? DueDate { get; set; }

    [Parameter] public Priority? Priority { get; set; }

    [Parameter] public EventCallback<int> OnComplete { get; set; }

    [Parameter] public EventCallback<int> OnDelete { get; set; }

    [Parameter] public EventCallback OnEdit { get; set; }

    private void CompleteTask()
    {
        OnComplete.InvokeAsync(Id);
    }

    private void DeleteTask()
    {
        OnDelete.InvokeAsync(Id);
    }

    private void EditTask()
    {
        OnEdit.InvokeAsync();
    }
}